@model AgentMvc.ViewModel.MissionModel

@{
    ViewData["Title"] = "Team";
}

<h1>Team</h1>

<div>
    <h4>MissionModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualExecutionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualExecutionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
